<div class="search-summary">
    {{ "%count result(s) for your search"|trans({'%count': total}) }}
</div>
<div class="ctsearch-result-list">
    {% for item in items %}
    {{ item }}
    {% endfor %}
</div>